<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About aang</title>
    <link rel="stylesheet" href="/stylesheets/style-about.css" />
</head>
<body>
    <div id="cover">
        <div id="first-pic">
            <img src="/img/avatar.jpg"/>
        </div>
        <div id="text-about">
            <h2>¿Qué tema se desarrolla en Avatar?</h2>
            <p>La serie se centra en el viaje de Aang, de 12 años, 
                el Avatar actual y último superviviente de su nación, 
                los Nómadas del Aire, junto con sus amigos Sokka, 
                Katara y más tarde Toph, mientras se esfuerzan por 
                poner fin a la guerra de la Nación del Fuego contra 
                las otras naciones del mundo.
            </p>
        </div>
        <div id="text-f">
            <h2>Sus amigos</h2>
        </div>
        <div id="twoPics">
            <div id="second-pic">
                <img src="/img/Aang-con-amigos.webp"/>
            </div>
            <div id="pets-pic">
                <img src="/img/appa-momo.jpg"/>
            </div>
        </div>
        <div id="button">
            <a href="/home"><button>Pagina de inicio</button></a>
            <a href="/works"><button>Siguiente</button></a>
        </div>
        
    </div>
    
    <script src="/app.js"></script>
</body>
</html>