<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar home</title>
    <link rel="stylesheet" href="/stylesheets/style-main.css" />
</head>
<body>
    <div id="cover">
        <div id="title">
            <h1>Welcome to the Avatar Page</h1>
        </div>
        <div id="img1">
            <img src="/img/firstAang.jpeg"/>
        </div>
        <div id="home-text">
            <h3>If you wanna know more about this awesome story: <a href="/about"class="link">click here</a></h3>
        </div>
    </div>

    <script src="/app.js"></script>
</body>
</html>