<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style-works.css" />
</head>
<body>
    <div id="cover">
            <h2>Momento importantes</h2>
        <div id="acabar-mal">
            <h3>Acabando el mal:</h3>
            <img src="/img/aang-acabando-mal.jpg"/>
        </div>
        <div id="defender-mal">
            <h3>Defendiendo del mal:</h3>
            <img class="defender" src="/img/aang-defendiendo.jpg"/>
        </div>
        <div id="aprender-fuego">
            <h3>Aprendiendo a controlar el fuego:</h3>
            <img src="/img/aang-fuego.jpg"/>
        </div>
        <div id="buttons">
            <a href="/home"><button>Pagina de inicio</button></a>
            <a href="/about"><button>Atras</button></a>
        </div>
    </div>
    <script src="/app.js"></script>
</body>
</html>